<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="page-wrapper">
    @require('../component/header.ejs')
    <div class="text">首页</div>
    <img src="../asset/img/qrcode.png" alt="" srcset="">
    <div id="slider1" class="jSlider" data-loop="true">
        <div>
          <a href="#">
            <img src="../asset/img/banner/banner_01.png" alt="" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../asset/img/banner/banner_01.png" alt="" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../asset/img/banner/banner_01.png" alt="" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../asset/img/banner/banner_01.png" alt="" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../asset/img/banner/banner_01.png" alt="" />
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../asset/img/banner/banner_01.png" alt="" />
          </a>
        </div>
      </div>
  </div>
</body>
</html>